{{!-- Municipal Settings Layout - Full screen without property sidebar --}}
<div class="avitar-layout">
  <Shared::MunicipalityNav />
  <Shared::SettingsMenu />
  <main class="avitar-main avitar-main--with-sidebar">
    <div class="avitar-ml-5">
      {{outlet}}
    </div>
  </main>
</div>