{{#if @isVisible}}
  <div class="loading-overlay">
    <div class="loading-overlay__backdrop"></div>
    <div class="loading-overlay__content">
      <div class="loading-spinner">
        <div class="loading-spinner__circle"></div>
      </div>
      {{#if @message}}
        <div class="loading-overlay__message">{{@message}}</div>
      {{/if}}
    </div>
  </div>
{{/if}}