<div 
  class="line-graph-container avitar-w-full avitar-border avitar-border-gray-200 avitar-rounded avitar-p-2"
  data-graph-title="{{@title}}"
  {{update-graph @data @xField @yField this.drawGraph}}
></div>