{{!-- Assessment Year Selector - Navigation Style --}}
<div class="avitar-topbar__nav-link assessment-year-selector" style="max-width: 180px;">
  <i class="fas fa-calendar-alt"></i>
  <label for="assessment-year-select" class="avitar-text-sm" style="white-space: nowrap;">
    Year:
  </label>
  <select 
    id="assessment-year-select"
    class="avitar-select avitar-select--sm avitar-ml-2"
    style="width: 80px; min-width: 80px;"
    {{on "change" this.onYearChange}}
  >
    {{#each this.availableYears as |year|}}
      <option value={{year}} selected={{eq year this.selectedYear}}>
        {{year}}
      </option>
    {{/each}}
  </select>
</div>