<div 
  class="land-value-graph-container avitar-w-full avitar-border avitar-border-gray-200 avitar-rounded avitar-p-2"
  data-zone-name="{{@zoneName}}"
  {{update-graph @tiers @zoneName this.drawGraph}}
></div>