{{!-- Property Print Button - Navigation Style --}}
{{!-- template-lint-disable no-invalid-interactive --}}
<a
  class="avitar-topbar__nav-link {{if this.isDisabled 'disabled'}}"
  title="{{this.buttonTitle}}"
  href="#"
  {{on "click" this.openPrintModal}}
>
  <i class="fas fa-print"></i>
  Print
</a>
{{!-- template-lint-enable no-invalid-interactive --}}