<div class="avitar-layout">
  <Shared::MunicipalityNav />
  {{#if this.shouldShowPropertySidebar}}
    <Assessing::PropertySidebar />
  {{/if}}
  <main class="municipality-page">
    {{outlet}}
  </main>
</div>